*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: hsl(26, 100%, 55%);
  --clr-secondry: hsl(25, 100%, 94%);
  --clr-dark-blue: hsl(220, 13%, 13%);
  --clr-dark-grayish-blue: hsl(219, 9%, 45%);
  --clr-grayish-blue: hsl(220, 14%, 75%);
  --clr-light-grayish-blue: hsl(223, 64%, 98%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 1rem;
  background-color: var(--clr-light-grayish-blue);
  margin: 0;
}

img {
  max-width: 100%;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

.flex {
  display: flex;
}
